@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&display=swap');
/* global */
#colored{
    color: #F55800;
    margin-left: 0;
    font-size: 28px;
}
/* social-links */
.social-links{
  margin-top: 2.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  padding: 1rem;
}
.fab{
  color: #aca5a5;
  font-size: 1.5rem;

}
/* navigtion */
.navbar{
    background: #3E3C3C;
}
.nav-item a, .navbar a{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}
.fa-envelope{
    font-size: 25px;
    color: #fff;
}

/* landing page */
.landing-page{
    background: #1C1A19;
    width: 100%;
    min-height: 100vh;
}
.landing-text h1{
    color: #F55800;
    font-family: 'crete round',sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 81.5px;
    margin: 7.5rem 3rem 0 3rem ;
}

.landing-text h6,p{
    color: #F4F5F7;
}
.landing-text h6{
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-left: 3rem;
    margin-right: 3rem;
}
.landing-text p{
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* portfolio */
.portfolio{
    background:#fff;
    width: 100%;
    min-height: 100vh;
}
.portfolio span{
  color: #091E42;
  font-family: 'Crete round',sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height:52px ;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}
.portfolio h4{
font-family: 'Crete Round',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #091E42;
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 0px 24px;
}
.portfolio p{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #091E42;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 24px;
  letter-spacing: 0.01em;
}
.portfolio img{
  max-width: 100%;
  height: auto;
}

.proj-btn{
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  line-height: 20px;
  align-items: flex-start;
  padding: 10px 0px 0px 12px;
  width: 95px;
  height: 40px;
  left: 129px;
  top: 0px;
}
.proj-btn .btn{
  flex: none;
  order: 2;
  align-self: center;
  flex-grow: 0;
  margin: 12px 3px;
  background: #FFFFFF;
  border: 1px solid #8993A4;
  box-sizing: border-box;
}

.proj-body{
  background: linear-gradient(179.4deg,
   rgba(38, 38, 38, 0) 0.81%,
   rgba(38, 38, 38, 0.9) 84.03%);
  padding: 0.5rem;
}

.proj-body p {
  color: #fff;
  font-family: 'Inter',sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:17px ;
  line-height: 24px;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
  margin: 0px 24px;
  padding: 0.7rem;

}
.proj-body h5{
  color: #091E42;
  font-family: 'crete round',sans-serif;
  font-weight:bolder;
  font-style:normal;
  font-size:28px ;
  line-height: 44px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 24px;
}
.card-link button{
  background-color:#F55800 ;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.card-link button:hover{
  color: #fff;
}


.grp-btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.grp-btn button{
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  font-family: 'Inter',sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.source-btn{
  background-color:#F55800 ;
  margin: 1rem;
  width: 124px;
  height: 48px;
  padding: 0.25rem;
}
.source-btn a{
  color: #fff;
  font-family: 'Inter',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}





/* about */
#about{
    background: #1C1A19;
    width: 100%;
    min-height: 100vh; 
}
.abt-container h1{
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 81px;
  color: #F55800;
  margin-top: 5rem;
}
.abt-text p{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #F4F5F7;
  margin-bottom: 5rem;
  
  
}

.resume-btn a,
.contact-form button{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  background: #F55800;
  color: #fff;
  margin: 0.2rem;
}

.line{
  border-bottom: 1px solid #FFFFFF;
}
#heading{
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 44px;
  margin-top: 1rem;
}
.skills{
  margin-bottom: 2.5rem;
  
}
.skills li{
  list-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight:300;
  font-size: 16px;
  line-height: 43px;
  display: flex;
  color: #FFFFFF;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
/* contact */
.contact{
    background-color:#fff;
    width: 100%;
    min-height: 60vh;
}
.contact-text{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  color: #262626;
  margin-top: 9rem;
  margin: 4rem;
}
.contact-form{
  margin-top: 9rem;
  margin: 4rem;
}
.form-group label,
.form-group textarea{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}
.contact-form button{
  margin-left: 0;
}
